/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Satoshi', sans-serif;
  color: #353334;  /* Updated main text color */
}

html {
  scroll-behavior: smooth;
}

p {
  color: #353334;  /* Updated main text color */
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

#desktop-nav {
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  height: 68px;
  padding-top: 5px;
  padding-left: 10px;
  justify-content: space-between;
}

.nav-items {
  padding-right: 25px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #5469d0;  /* Updated label color */
  text-decoration: none;
}

a:hover {
  color: #a0ace5;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #a0ace5;
}

.logo {
  height: 6rem;
}

.logo:hover {
  cursor: pointer;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #353334;  /* Updated main text color */
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #353334;  /* Updated main text color */
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 0;  /* No padding inside the profile section */
  margin: 0;   /* No margin inside the profile section */
  padding-bottom: 4rem; /* Adds space below the profile section */
  padding-top: 9rem;
}

.section__pic-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-container img {
  height: 100%;
  width: 100%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section__text__p2__change {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#typed-output {
  color: #5469d0;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  color:#353334  /* Updated label color */
}

.title-about-me {
  font-size: 3rem;
  font-weight: 500;
  color:#1f1e74;
  text-align: center;
  border-bottom: 4px solid #1f1e74; /* Add a black line under the text */
  display: inline-block;  /* Keeps underline to text width */
  padding-bottom: 0.5rem;  /* Adds spacing between the text and the underline */
  margin: 0 auto;  /* Ensures the title stays centered */
}

.title-experience {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color:#1f1e74  /* Updated label color */
}

.title-contact {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color:#1f1e74  /* Updated label color */
}

.title-project {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 2rem;
  text-align: center;
  color:#1f1e74  /* Updated label color */
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  color: #5469d0;  /* Updated label color */
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border-color: #1f1e74; /* Updated button border color */
}

.btn-color-1,
.btn-color-2 {
  border: #1f1e74 0.1rem solid;
  color: #1f1e74;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #1f1e74;  /* Updated button color */
  color: white;
}

.btn-color-1:hover {
  background: #01003d  /* Updated button hover color */
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* ABOUT SECTION */

#about {
  position: relative;
  text-align: center;
  padding-top: 4rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.text-container p {
  font-size: 1.9rem;  /* Increase the font size as needed */
  line-height: 1.6;    /* Adjust line height for better readability */
  color: #353334;  /* Updated main text color */
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  /* padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: #5469d0;
  text-align: center; */

  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.details-container p {
  font-size: 1.1rem;  /* Increase the font size as needed */
  line-height: 1.6;    /* Adjust line height for better readability */
  color: #353334;  /* Updated main text color */
}

.details-container h3 {
  font-size: 1.3rem;  /* Increase the font size as needed */
  line-height: 1.6;    /* Adjust line height for better readability */
  color:#353334;  /* Updated label color */
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.icon-1 {
  width: 50px;  /* Adjust the size of the icon */
  transition: transform 0.3s ease;  /* Smooth transition when hovering */
}

.icon-1:hover {
  transform: translateY(-10px);  /* Move the icon up by 10px */
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
  padding-top: 4rem;
}

.experience-entry {
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.experience-header h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: #5469d0;  /* Updated label color */
}

.experience-header p {
  font-style: italic;
  color: #8a8a8a;
  margin: 0.5rem 0;
}

.experience-timeline {
  color: #8a8a8a;
  font-size: 0.9rem;
}

.experience-description p {
  margin-top: 1rem;
  color: #353334;  /* Updated main text color */
  line-height: 1.6;
}

.experience-entry + .experience-entry {
  margin-top: 2rem;
}

.experience-sub-title {
  color: #353334;  /* Updated label color */
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.article-container h3 {
  color: #353334;
  transition: transform 0.3s ease;
}

.article-container h3:hover {
  color: #5469d0;
  transform: translateY(-10px);
  cursor: pointer;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  color: #5469d0;  /* Updated label color */
}


/* PROJECTS SECTION */

#projects {
  position: relative;
  padding-top: 4rem;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: #353334;  /* Updated main text color */
}

.project-btn {
  color: #1f1e74;  /* Updated button color */
  border-color: rgb(163, 163, 163);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.project-item {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.project-name {
  font-size: 2rem;
  font-weight: 600;
  color: #353334;
}

.project-description {
  font-size: 1.1rem;
  color: #353334;
  margin-bottom: 1.5rem;
}

.project-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.project-buttons .btn {
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  border: 1px solid #1f1e74;
  text-align: center;
}

.project-buttons .btn.btn-color-2 {
  background-color: #ffffff;
  color: #1f1e74;
  border: 1px solid #1f1e74;
}

.project-buttons .btn.btn-color-2:hover {
  background-color: #1f1e74;
  color: white;
}

.project-buttons .btn.btn-color-1 {
  background-color: #1f1e74;
  color: white;
}

.project-buttons .btn.btn-color-1:hover {
  background-color: #01003d;
}

.tech-stack {
  display: flex;
  gap: 0.75rem; /* Slightly reduce gap between tech items */
  margin-bottom: 1.5rem; /* Increased space after the tech stack */
  flex-wrap: wrap; /* Ensures the tech stack wraps nicely */
  list-style: none;
  padding: 0;
}

.tech-stack li {
  background-color: #5469d0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.875rem;
}

.project-row {
  display: flex;
  gap: 3rem;
  
}

.project-image {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  padding: 1rem;
}

.project-image img {
  max-width: 80%; /* Restrict image to the width of its container */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image-blank img {
  max-width: 80%; /* Restrict image to the width of its container */

}
/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding-top: 4rem;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(53, 53, 53);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p a {
  font-size: larger;
  color: #353334;  /* Updated main text color */
}

.contact-icon {
  cursor: default;
  color: #353334;  /* Updated label color */
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: #353334;  /* Updated main text color */
}
